<html>

	<head>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- GOOGLE MAPS API CODE -->

			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}"></script>
			<script type="text/javascript">

				var restaurant_names = {{restaurant_names|tojson|safe}};
				var results = {{results|tojson|safe}};

				var map;
				var markers = [];

				function initialize() {
					var mapOptions = {
						center: { lat: 40.8015921, lng: -73.71091 },
						zoom: 10
					};
					var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)
					drop(results, map);
				}

				function addMarker(elt, map) {
					var marker = new google.maps.Marker({
						position: (new google.maps.LatLng(elt['lat'], elt['lng'])),
						map: map,
						animation: google.maps.Animation.DROP,
						icon: "{{png_url}}",
						info: elt
					});
					markers.push(marker);
					google.maps.event.addListener(marker, 'click', function() {
						console.log(marker.info);
					});
				}

				function drop(res, map) {
					clearMarkers();
					for (var i = 0; i < res.length; i++) {
						addMarker(res[i], map);
					}
				}

				function clearMarkers() {
					for (var i = 0; i < markers.length; i++) {
						markers[i].setMap(null);
					}
					markers = [];
				}

				google.maps.event.addDomListener(window, 'load', initialize);
			</script>

		<!-- END GOOGLE MAPS API CODE -->
		<script src="{{typeahead_url}}"></script>
		<script src="{{js_url}}"></script>
		<link rel="stylesheet" href="{{css_url}}"></style>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="map-canvas"></div>
					<form class="navbar-form navbar-left" id="query-form" action="/" method="get">
						<input id="violation-input" name="violation" type="hidden">
						<input id="cuisine-type-input" name="cuisine_type" type="hidden">
						<input id="borough-input" name="borough" type="hidden">
						<input id="restaurant-name-input" name="name" type="hidden">
				</div>
				<div class="col-md-6">
					<ul>
					</ul>
				</div>
			</div>
						<div class="row">
							<div class="panel panel-default">
								<div class="panel-heading">
    								<h3 class="panel-title">Search</h3>
  								</div>
  								<div class="panel-body">
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" id="dd-violation" data-toggle="dropdown" aria-expanded="true">
										<strong>All Violations</strong><span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu">
										<li>
											<a onclick="$('#violation-input').val('');"><strong>All Violations</strong></a>
										</li>
									{% for v in violations %}
										<li title="{{v[3]}}">
											<a onclick="$('#violation-input').val('{{v[0]}}');"><strong>{{v[2]}}</strong> (count: {{v[1]}})</a>
										</li>
									{% endfor %}
									</ul>
								</div>
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" id="dd-cuisine-type" data-toggle="dropdown" aria-expanded="true">
										<strong>All Cuisine Types</strong><span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu">
										<li>
											<a onclick="$('#cuisine-type-input').val('');"><strong>All Cuisine Types</strong></a>
										</li>
									{% for c in cuisine_types %}
										<li>
											<a onclick="$('#cuisine-type-input').val('{{c}}');"><strong>{{c}}</strong></a>
										</li>
									{% endfor %}
									</ul>
								</div>
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle" type="button" id="dd-borough" data-toggle="dropdown" aria-expanded="true">
										<strong>All Boroughs</strong><span class="caret"></span>
									</button>
									<ul class="dropdown-menu scrollable-menu" role="menu">
										<li><a onclick="$('#borough-input').val('');"><strong>All Boroughs</strong></a></li>
										<li><a onclick="$('#borough-input').val('1');"><strong>Manhattan</strong></a></li>
										<li><a onclick="$('#borough-input').val('2');"><strong>Bronx</strong></a></li>
										<li><a onclick="$('#borough-input').val('3');"><strong>Brooklyn</strong></a></li>
										<li><a onclick="$('#borough-input').val('4');"><strong>Queens</strong></a></li>
										<li><a onclick="$('#borough-input').val('5');"><strong>Staten Island</strong></a></li>
									</ul>
								</div>
									<input type="text" class="form-control restaurant-names-typeahead" placeholder="All Restaurants">
									<button type="submit" class="btn btn-default"><strong>Update Results</strong>
								</div>
							</div>
						</div>
		</div>
	</body>

</html>