<html>

	<head>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
		<!-- GOOGLE MAPS API CODE -->

			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}"></script>
			<script type="text/javascript">

				var restaurant_names = {{restaurant_names|tojson|safe}};
				window.results = {{results|tojson|safe}};
				var markers = [];
				window.page_number = 0;
				window.infowindow = new google.maps.InfoWindow();
				function updateList(results) {
					var div = document.getElementById('inspections-list-div');
					s = '';
					for (var i = 0; i < results.length; i++) {
						s += '<div class="panel panel-primary " id="inspection-panel-' + (i + 1) + '""><div class="panel-heading">';
						s += '<h3 class="panel-title"><strong>' + results[i]['generic']['name'] + '</strong> <small>' + results[i]['generic']['address'] + '</small></h3></div>';
						s += '<div class="panel-body scrollable-panel">';
							for (var j = 0; j < results[i]['specific'].length; j++) {
								s += '<ul class="violation-list">';
								s+= '<li><strong>' + results[i]['specific'][j]['date'] +'&nbsp</strong>' + results[i]['specific'][j]['description'] + '</li></ul>';
							}
						s += '</div></div>';
					}
					div.innerHTML = s;
				}

				function update(dir) {
					var name = $("#restaurant-name-input").val();
					var cuisine_type = $("#cuisine-type-input").val();
					var borough = $("#borough-input").val();
					var violation = $("#violation-input").val();
					var params = 'name='+ name + 
							'&cuisine_type=' + cuisine_type + 
							'&borough=' + borough + 
							'&violation_code=' + violation;
					if (dir != null) {
						window.page_number += dir;
						params += '&page_number=' + window.page_number.toString();
					}
					$.ajax({
						type: "GET",
						url: "/update/",
						data: params,
						dataType: 'json',
						success: function(res) {
							if (!res['page_change']) {
								window.page_number += dir*(-1);
								$("#results-alert").show();
							} else {
								$("#results-alert").hide();
								window.results = res['data'];
								updateList(window.results);
								drop();
							}
						}
					});
				}

				function scrollToListElt(destination){
					var stop = $(destination).offset().top - 170;
					var delay = 0;
					$('#inspections-list-div').animate({scrollTop: $('#inspections-list-div').scrollTop() + stop}, delay, function() {
						$(destination).fadeOut(500).fadeIn(500);
					});
					return false;
				}

				function UIControl(controlDiv, map, dir) {

					// Set CSS for the control border
					var controlUI = document.createElement('div');
					controlUI.style.backgroundColor = '#fff';
					controlUI.style.border = '2px solid #fff';
					controlUI.style.borderRadius = '3px';
					controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
					controlUI.style.cursor = 'pointer';
					controlUI.style.marginBottom = '22px';
					controlUI.style.textAlign = 'center';
					controlUI.style.marginLeft = '1px';
					controlUI.title = dir + ' results';
					controlUI.className = "pagination-btn";
					controlDiv.appendChild(controlUI);

					// Set CSS for the control interior
					var controlText = document.createElement('div');
					controlText.style.color = 'rgb(25,25,25)';
					controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
					controlText.style.fontSize = '12px';
					controlText.style.width = '60px';
					controlText.style.height = '25px';
					controlText.style.lineHeight = '38px';
					controlText.style.marginBottom = '10px';
					if (dir == "Previous"){
						controlText.innerHTML = '<small><span class="glyphicon glyphicon-menu-left"></span> Previous</small>';
					}
					if (dir == "Next") {
						controlText.innerHTML = '<small>Next <span class="glyphicon glyphicon-menu-right"></span></small>';
					}					
					controlUI.appendChild(controlText);

					// Setup the click event listeners
					google.maps.event.addDomListener(controlUI, 'click', function() {
						return dir == "Previous" ? update(-1) : update(1)
					});

				}

				function initialize() {
					var mapOptions = {
						center: { lat: 40.755632, lng: -73.985258 },
						zoom: 11
					};
					window.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)
					drop();

					var prevControlDiv = document.createElement('div');
					var prevControl = new UIControl(prevControlDiv, window.map, "Previous");
					prevControlDiv.index = 1;
					map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(prevControlDiv);

					var nextControlDiv = document.createElement('div');
					var nextControl = new UIControl(nextControlDiv, window.map, "Next");
					nextControlDiv.index = 1;
					map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(nextControlDiv);

				}

				function addMarker(elt, map, i) {
					var marker = new google.maps.Marker({
						position: (new google.maps.LatLng(elt['generic']['lat'], elt['generic']['lng'])),
						map: map,
						//animation: google.maps.Animation.DROP,
						icon: "{{png_url}}",
						info: elt,
						title: elt['generic']['name']
					});
					markers.push(marker);

					google.maps.event.addListener(marker, 'click', function() {
						window.infowindow.setContent(elt['generic']['name']);
						window.infowindow.open(window.map, marker);
						scrollToListElt($('#inspection-panel-' + i));
					});
				}

				function drop() {
					clearMarkers();
					for (var i = 0; i <  window.results.length; i++) {
						addMarker(window.results[i], window.map, i + 1);
					}
				}

				function clearMarkers() {
					for (var i = 0; i < markers.length; i++) {
						markers[i].setMap(null);
					}
					markers = [];
				}

				google.maps.event.addDomListener(window, 'load', initialize);

			</script>

		<!-- END GOOGLE MAPS API CODE -->
		<script src="{{typeahead_url}}"></script>
		<script src="{{js_url}}"></script>
		<link rel="stylesheet" href="{{css_url}}"></style>
	</head>

	<body>
		<div class="container">

				<div class="row" id="form-row">
					<div class="panel panel-primary">
						<div class="panel-heading">
    						<h1 class="panel-title" align="center">Restaurant Inspections in New York City</h1>
  						</div>
  						<div class="panel-body">
							<input id="violation-input" name="violation_code" type="hidden">
							<input id="cuisine-type-input" name="cuisine_type" type="hidden">
							<input id="borough-input" name="borough" type="hidden">
							<input id="restaurant-name-input" name="name" type="hidden">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" type="button" id="dd-violation-code" data-toggle="dropdown" aria-expanded="true">
									<strong>All Violations</strong><span class="caret"></span>
								</button>
								<ul class="dropdown-menu scrollable-menu" role="menu">
									<li>
										<a onclick="$('#violation-input').val('');"><strong>All Violations</strong></a>
									</li>
								{% for v in violations %}
									<li title="{{v[3]}}">
										<a onclick="$('#violation-input').val('{{v[0]}}');"><strong>{{v[2]}}</strong> <small>{{v[1]}}</small></a>
									</li>
								{% endfor %}
								</ul>
							</div>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" type="button" id="dd-cuisine-type" data-toggle="dropdown" aria-expanded="true">
									<strong>All Cuisine Types</strong><span class="caret"></span>
								</button>
								<ul class="dropdown-menu scrollable-menu" role="menu">
									<li>
										<a onclick="$('#cuisine-type-input').val('');"><strong>All Cuisine Types</strong></a>
									</li>
								{% for c in cuisine_types %}
									<li>
										<a onclick="$('#cuisine-type-input').val('{{c}}');"><strong>{{c}}</strong></a>
									</li>
								{% endfor %}
								</ul>
							</div>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" type="button" id="dd-borough" data-toggle="dropdown" aria-expanded="true">
									<strong>All Boroughs</strong><span class="caret"></span>
								</button>
								<ul class="dropdown-menu scrollable-menu" role="menu">
									<li><a onclick="$('#borough-input').val('');"><strong>All Boroughs</strong></a></li>
									<li><a onclick="$('#borough-input').val('1');"><strong>Manhattan</strong></a></li>
									<li><a onclick="$('#borough-input').val('2');"><strong>Bronx</strong></a></li>
									<li><a onclick="$('#borough-input').val('3');"><strong>Brooklyn</strong></a></li>
									<li><a onclick="$('#borough-input').val('4');"><strong>Queens</strong></a></li>
									<li><a onclick="$('#borough-input').val('5');"><strong>Staten Island</strong></a></li>
								</ul>
							</div>
							<input type="text" class="form-control restaurant-names-typeahead" placeholder="All Restaurants">
							<button class="btn btn-default update-btn"><strong>Update Results</strong>
						</div>
					</div>
				</div>
			<div class="row">
				<div id="results-alert" class="alert alert-warning alert-dismissible" hidden="true" role="alert">
					<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>No Results</strong>
				</div>
				<div class="col-md-6">
					<div id="map-canvas"></div>
				</div>
					<div class="col-md-6">
							<div class="accordion" id="accordion-parent">
								<div id="inspections-list-div">
								{% for r in results %}
									<div class="panel panel-primary" id="inspection-panel-{{loop.index}}">
										<div class="panel-heading">
											<h3 class="panel-title"><strong>{{r['generic']['name']}}</strong> <small>{{r['generic']['address']}}</small></h3>
										</div>
										<div class="panel-body scrollable-panel">
											<ul class="violation-list">
											{% for insp in r['specific'] %}
												<li><strong>{{insp['date']}}&nbsp</strong> {{insp['description']}}</li>
											{% endfor %}
											</ul>
	  									</div>
									</div>
								{% endfor %}
								</div>
							</div>
				</div>
			</div>
		</div>
	</body>

</html>