html, body { 
	height: 100%; 
	margin: 10px; 
	background: url('background.png');
	overflow: hidden;
}

#map-canvas {
	height: 75%;
	width: 100%;
}

#inspections-list-div {
	height: 75% !important;
	overflow: scroll;
}

.scrollable-panel {
	white-space: nowrap;
	overflow: scroll;
}

.tt-suggestion {
	background: white;
}

.tt-suggestion:hover {
	opacity: .5;
}

.scrollable-menu {
    height: auto;
    max-height: 130px;
    overflow-x: hidden;
}

.pagination-btn:hover {
	opacity: .8;
}

.dropdown-toggle {
	margin: 5px;
}

#dd-violation-code {
	width: 500px;
}

#dd-cuisine-type {
	width: 140px;
}

#dd-borough {
	width: 140px;
}

.restaurant-names-typeahead {
	top: 1px;
	right: 2px;
}

.violation-list {
	list-style: none;
}
