html, body { height: 100%; margin: 0; padding: 0;}


#map-canvas {
	height: 65%;
	width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 130px;
    overflow-x: hidden;
}

.dropdown-toggle {
	margin: 5px;
}

#dd-violation {
	width: 500px;
}

#dd-cuisine-type {
	width: 220px;
}

#dd-borough {
	width: 220px;
}