html, body { 
	height: 100%; 
	margin: 10px; 
	background: url('background.png');
}

#map-canvas {
	height: 65%;
	width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 130px;
    overflow-x: hidden;
}

.dropdown-toggle {
	margin: 5px;
}

#dd-violation {
	width: 500px;
}

#dd-cuisine-type {
	width: 140px;
}

#dd-borough {
	width: 140px;
}

.restaurant-names-typeahead {
	top: 1px;
	right: 2px;
}